.espaco{
    margin: 5px;
}
.pd-top-0{
    padding-top: 10px !important;
}
.form-group > label{
    z-index: 10;
    display: initial;
    position: absolute;
    top: -12px;
    background-color: #fff;
    left: 20px;
    font-size: small;
}
.form-group {
    margin-bottom: 7px !important;
}
.help-block{
    margin: 0px;
    padding: 0px;
    font-size: smaller;
}
.list-unstyled{
    margin: 0px;
}
.list-unstyled>li{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.chosen-container{
    width: 100% !important;
    height: 32px !important;
 }
 .chosen-single{
     height: 32px !important;
 }
 .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
     padding: 3px;
 }
 .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9{
    padding: 3px;
 }
 .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9{
    padding: 3px;     
 }
 .form-group input[type=email], .form-group input[type=url], 
 .form-group input[type=search], .form-group input[type=tel], 
 .form-group input[type=color], .form-group input[type=text], 
 .form-group input[type=password], .form-group input[type=datetime], 
 .form-group input[type=datetime-local], .form-group input[type=date], 
 .form-group input[type=month], .form-group input[type=time], 
 .form-group input[type=week], .form-group input[type=number], 
 .form-group select{
    height: 32px !important;
 }
 .form-group textarea{
    resize: vertical;
 }
 input[type=checkbox].ace.ace-switch.ace-switch-5+.lbl::before {
    content: "Sim\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0Não" !important;
}
input[type=checkbox].ace.ace-switch+.lbl {
    margin: 20px 4px 0px 10px !important;
}
::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar{
    width: 5px;
    height: 5px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #3b85f5f2;
}
.modal-body{
    overflow-y: auto;
}
body{
    font-family: 'Roboto', sans-serif;
}
